﻿@using HotelBookingSystem.ViewModels
@model HomeFiltersViewModel

@{
    ViewData["Title"] = "Home Page";
    var cities = ViewData["Cities"] as IEnumerable<string>;
    var roomTypes = ViewData["RoomTypes"] as IEnumerable<RoomType>;
    var cntOfGuests = ViewData["CntOfGuests"] as IEnumerable<int>;
}

<form method="get" asp-controller="Home" asp-action="SearchRoom" onsubmit="return validateDates()">
    <span id="form-title">FIND THE PERFECT HOTEL</span>
    <br><br>
    <select id="cntofguests" asp-for="CountOfGuests" asp-items="@(new SelectList(cntOfGuests))">
        <option value="" disabled selected hidden>Count of Guests</option>
    </select>
    <br>
    <select id="roomtype" asp-for="RoomTypeId" asp-items="@(new SelectList(roomTypes, "Id", "RoomType1"))">
        <option value="" disabled selected hidden>Room Type</option>
    </select>
    <br>
    <select id="city" asp-for="City" asp-items="@(new SelectList(cities))">
        <option value="" disabled selected hidden>City</option>
    </select>
    <br>
    <br>
    <div id="slider-range">
        <input type="text" id="amountmind" readonly style="border:0;">
        <input type="text" id="amountmaxd" readonly style="border:0;">
        <br><input type="text" id="amountmin" asp-for="MinPrice" hidden">
        <input type="text" id="amountmax" asp-for="MaxPrice" hidden">

    </div>
    <br>
    <input id="checkin" class="input-date" asp-for="CheckInDate" placeholder="@Html.DisplayNameFor(m => m.CheckInDate)" />
    <br>
    <input id="checkout" class="input-date" asp-for="CheckOutDate" placeholder="@Html.DisplayNameFor(m => m.CheckOutDate)" />
    <br>
    <span id="errors"></span>
    <br>
    <div id="submit-room">
        <input type="submit" value="Find Hotel" />
    </div>
</form>