﻿@using HotelBookingSystem.ViewModels
@model HomeFiltersViewModel

@{
    ViewData["Title"] = "Home Page";
    var cities = ViewData["Cities"] as IEnumerable<string>;
    var roomTypes = ViewData["RoomTypes"] as IEnumerable<RoomType>;
}

@section css{
    <link rel="stylesheet" href="~/css/hotel-search.css">
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


<div id="flex-container">

    <main>
        <div class="search-form-hotel">
            <form method="get" asp-controller="Home" asp-action="SearchRoom" onsubmit="return validateDates()">
                <select id="city" asp-for="City" asp-items="@(new SelectList(cities))">
                    <option value="" disabled selected hidden>City</option>
                </select>
                <select id="roomtype" asp-for="RoomTypeId" asp-items="@(new SelectList(roomTypes, "Id", "RoomType1"))">
                    <option value="" disabled selected hidden>Room Type</option>
                </select>
                <br>
                <input id="checkin" class="input-date" asp-for="CheckInDate" placeholder="@Html.DisplayNameFor(m => m.CheckInDate)" />
                <input id="checkout" class="input-date" asp-for="CheckOutDate" placeholder="@Html.DisplayNameFor(m => m.CheckOutDate)" />
                <br>
                <span id="errors"></span>
                
                <div id="submit-hotel">
                    <input type="submit" value="Search" />
                </div>
            </form>
        </div>
    </main>
    <!------------------ FOOTER -------------------->
    <footer>
        <div class="credits">
            <span><small>Coded by Lampros Kafousis.</small></span>
        </div>
    </footer>

</div>
