﻿@using HotelBookingSystem.ViewModels
@model RoomViewModel

@{
    ViewData["Title"] = "Room Page";
    var avgRate= (int)Model.Room.Reviews.Select(r => r.Rate).DefaultIfEmpty(0).Average();
}

@section css{
    <link rel="stylesheet" href="~/css/room-list.css">
}

@section scripts{
    <script>
        var room_lat = @Model.Room.LatLocation;
        var room_lng = @Model.Room.LngLocation;
    </script>
    <script async defer type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.exp&key=AIzaSyAP1CBF-e5lFiBHvj-xya_5W9reCj8O6mQ&callback=initMap"></script>
}

<div id="flex-container-room">

    <main class="main-body">

        <div class="row1-flex">
            <div class="row1-col1">
                <p>@(Model.Room.Name) - @(Model.Room.City), @(Model.Room.Area)</p>
            </div>
            <div class="row1-col2">
                <p>
                    Reviews:
                    @if (avgRate > 0)
                    {

                        @for(int i = 0; i< avgRate; i++)
                        {
                            <i class="fa fa-star star-full-overide" aria-hidden="true"></i>
                        }
                    }
                    else
                    {
                        <span>No reviews yet</span>
                    }
                </p>
            </div>
            <div class="row1-col3">
                <p class="row1-col3-form">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-action="ToggleFavorite">
                            <div id="favorite" class="fav-form">
                                <input id="fav-roomId" type='number' asp-for="FavoritesFilters.RoomId" hidden />
                                <button type="submit" class="fav-button">
                                    @if (Model.IsFavorite)
                                    {
                                        <i class="fa fa-heart fav-heart" aria-hidden="true"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-heart-o fav-heart" aria-hidden="true"></i>
                                    }
                                </button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <p>Login to add to favorites</p>
                    }
                </p>
            </div>
            <div class="row1-col4">
                <p>Per Night:@(Model.Room.Price)&euro; </p>
            </div>
        </div>
        <div class="row2">
            <img src="~/images/@(Model.Room.Photo)" class="room-img2" alt="room1">
        </div>
        <div class="row3-flex">
            <div class="row3-col1">
                <i class="fa fa-users" aria-hidden="true"></i>
                @(Model.Room.CountOfGuests)
                <p>COUNT OF GUESTS</p>
            </div>
            <div class="row3-col2">
                <i class="fa fa-bed" aria-hidden="true"></i>
                @(Model.Room.RoomType.RoomType1)
                <p>TYPE OF ROOM</p>
            </div>
            <div class="row3-col3">
                <i class="fa fa-car" aria-hidden="true"></i>
                @if (Model.Room.Parking == 1)
                {
                    <i class="fa fa-check" aria-hidden="true"></i>
                }
                else
                {
                    <i class="fa fa-times" aria-hidden="true"></i>
                }
                <p>PARKING</p>
            </div>
            <div class="row3-col4">
                <i class="fa fa-wifi" aria-hidden="true"></i>
                @if (Model.Room.Wifi == 1)
                {
                    <i class="fa fa-check" aria-hidden="true"></i>
                }
                else
                {
                    <i class="fa fa-times" aria-hidden="true"></i>
                }
                <p>WIFI</p>
            </div>
            <div class="row3-col5">
                <i class="fa fa-paw" aria-hidden="true"></i>
                @if (Model.Room.PetFriendly == 1)
                {
                    <i class="fa fa-check" aria-hidden="true"></i>
                }
                else
                {
                    <i class="fa fa-times" aria-hidden="true"></i>
                }
                <p>PET-FRIENDLY</p>
            </div>
        </div>
        <div class="row4">
            <span class="room-desc">Room Description</span><br>
            <p>
                @(Model.Room.LongDescription)
            </p>
        </div>
        <div class="row5">
            @if (Model.ShowBookingButton)
            {
                @if (!Model.IsAvailable)
                {
                    <p class="booking-unav">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Room is already booked
                    </p>
                }
                else
                {
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="submit-book">
                            <form method="post" asp-action="SubmitBooking">
                                <input type="hidden" asp-for="BookingFilters.RoomId" />
                                <input type="hidden" asp-for="BookingFilters.CheckInDate" />
                                <input type="hidden" asp-for="BookingFilters.CheckOutDate" />
                                <input type="submit" value="Book Now" />
                            </form>
                        </div>
                    }
                    else
                    {
                        <div id="link-login">
                            <a asp-controller="MyProfile"
                               asp-action="Login">
                                Log in to Book
                            </a>
                        </div>
                    }
                }
            }
        </div>
        <br>
        <div class="row6">
            <div id="map" class="room-map gmap"></div>
        </div>
        <div class="row7">
            <span class="reviews">Reviews</span><br>
            <ol>
                @if (!Model.Room.Reviews.Any())
                {
                    <span>No reviews yet!</span>
                }
                else
                {
                    @foreach (var review in Model.Room.Reviews)
                    {
                        <li>
                            <div>
                                User: @(review.User.Username)<br> 
                                Rating:
                                @for (int i = 0; i < review.Rate; i++)
                                {
                                    <i class="fa fa-star star-full-overide" aria-hidden="true"></i>
                                }
                                <br>
                                Add time: @(review.DateCreated)<br>
                                @(review.Text)
                            </div>
                        </li>
                        <br>
                    }
                }
            </ol>
        </div>
        <div class="row8">
            <span class="add-review">Add Review</span><br><br>
            @if (User.Identity.IsAuthenticated)
            {
                <i class="fa fa-star-o star-rating" aria-hidden="true" name="1"></i>
                <i class="fa fa-star-o star-rating" aria-hidden="true" name="2"></i>
                <i class="fa fa-star-o star-rating" aria-hidden="true" name="3"></i>
                <i class="fa fa-star-o star-rating" aria-hidden="true" name="4"></i>
                <i class="fa fa-star-o star-rating" aria-hidden="true" name="5"></i>

                <form method="post" asp-action="SubmitReview">
                    <div id="submit-review">
                        <textarea id="review-text" asp-for="ReviewFilters.Text" required></textarea>
                        <input id="review-roomId" type='number' asp-for="ReviewFilters.RoomId" hidden />
                        <input id="review-rate" type='number' asp-for="ReviewFilters.Rate" hidden />
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            }
            else
            {
                <div id="link-login">
                    <a asp-controller="MyProfile"
                       asp-action="Login">
                        Log in to Add Review
                    </a>
                </div>
            }
        </div>
        <br>
    </main>
    <!------------------ FOOTER -------------------->
    <footer>
        <div class="credits">
            <span><small>Coded by Lampros Kafousis.</small></span>
        </div>
    </footer>

</div>   