﻿@using HotelBookingSystem.ViewModels
@model SearchRoomViewModel

@{
    ViewData["Title"] = "Room List Page";

    var cntOfGuests = ViewData["CntOfGuests"] as IEnumerable<int>;
    var cities = ViewData["Cities"] as IEnumerable<string>;
    var roomTypes = ViewData["RoomTypes"] as IEnumerable<RoomType>;
}

@section css{
    <link rel="stylesheet" href="~/css/room-list.css">
}

@section scripts{
    <script>
        // Range slider - gravity forms
        $( function() {
            $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 500,
            step: 1,
            values: [ 100, 300 ],
            slide: function( event, ui ) {
                $("#amountmind").val("min:" + ui.values[0] + "€");
                $("#amountmaxd").val("max:" + ui.values[1] + "€");
                $("#amountmin").val(ui.values[0]);
                $("#amountmax").val(ui.values[1]);
            }
            });
            $("#amountmind").val("min:" + $("#slider-range").slider("values", 0) + "€");
            $("#amountmaxd").val("max:" + $("#slider-range").slider("values", 1) + "€");
            $("#amountmin").val($("#slider-range").slider("values", 0));
            $("#amountmax").val($("#slider-range").slider("values", 1));
        } );
    </script>

}

<div id="flex-container-room">

    <main class="main-body-flex">
        <div class="main-column1">
            <div class="search-form-room">
                <partial name="_SearchFormPartial" model="Model.Filters" />
            </div>
        </div>
        <div class="main-column2">
            <div class="results-head">
                <span>Search Results</span>
            </div>
            @if (!Model.Rooms.Any())
            {
                <p>Oops, no rooms match your filters.</p>
            }
            else
            {
                @foreach (var room in Model.Rooms)
                {
                    <div class="room-card">
                        <br>
                        <div class="search-results-room-flex">
                            <div class="main-column2-1">
                                <img src="~/images/@(room.Photo)" class="room-img" alt="room1">
                            </div>
                            <div class="main-column2-2">
                                <span class="hotel-name">@(room.Name)</span><br>
                                <span class="hotel-region"><small>@(room.City),@(room.Area)</small></span>
                                <p>
                                    @(room.ShortDescription)
                                </p>

                                <div id="link-gotoroom">
                                    <a asp-controller="Home"
                                       asp-action="Room"
                                       asp-route-id="@room.RoomId"
                                       asp-route-checkindate="@Model.Filters.CheckInDate"
                                       asp-route-checkoutdate="@Model.Filters.CheckOutDate">
                                        Go To Room Page
                                    </a>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="room-data-flex">
                            <div class="main-column2-1b">
                                <span class="room-price">Total Cost: @(room.Price)&euro; </span>
                            </div>
                            <div class="main-column2-2b">
                                <div class="profile-data-flex">
                                    <div class="main-column2-2b-1rl">
                                        <span class="room-cntofguests">Count of Guests: @(room.CountOfGuests)</span>
                                    </div>
                                    <div class="main-column2-2b-3rl">
                                        <span class="room-type">Type of room: @(room.RoomTypeId)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                }
            }
        </div>
    </main>
    <!------------------ FOOTER -------------------->
    <footer>
        <div class="credits">
            <span><small>Coded by Lampros Kafousis.</small></span>

        </div>
    </footer>

</div> 