﻿@using HotelBookingSystem.Models


@{
    ViewData["Title"] = "My Profile Page";
}

@section css{
    <link rel="stylesheet" href="~/css/room-list.css">
}

@section scripts{

}

<div id="flex-container-room">

    <main class="main-body-flex">
        <div class="main-column1">
            <div class="my-profile-data">
                <ul class="my-profile-data-list">
                    <li class="my-profile-fav-list">FAVORITES</li>
                    <ol class="favourites-list" type="1">
                        @foreach (var favorites in Model.Favorites)
                        {
                            <li>@favorites.Room.Name</li>
                        }
                    </ol>
                    <li class="my-profile-rev-list">REVIEWS</li>
                    <ol class="reviews-list" type="1">
                        @foreach (var reviews in Model.Reviews)
                        {
                            var rating = @reviews.Rate;
                            <li>
                                @reviews.Room.Name<br>
                                @for (int i = 0; i < rating; i++)
                                {
                                    <i class="fa fa-star star-full-overide" aria-hidden="true"></i>
                                }
                            </li>
                        }
                    </ol>
                </ul>
            </div>

        </div>
        <div class="main-column2">
            <div class="results-head">
                <span>My Bookings</span>
            </div>
            @foreach (var bookings in Model.Bookings)
            {
                <div class="room-card">
                    <br>
                    <div class="search-results-room-flex">
                        <div class="main-column2-1">
                            <img src="~/images/@bookings.Room.Photo" class="room-img" alt="room1">
                        </div>
                        <div class="main-column2-2">
                            <span class="hotel-name">@bookings.Room.Name</span><br>
                            <span class="hotel-region"><small>@bookings.Room.City,@bookings.Room.Area</small></span>
                            <p>
                                @(bookings.Room.ShortDescription)
                            </p>
                            <div id="link-gotoroom">
                                <a asp-controller="Home"
                                   asp-action="Room"
                                   asp-route-id="@bookings.Room.RoomId"
                                   asp-route-checkindate="@bookings.CheckInDate"
                                   asp-route-checkoutdate="@bookings.CheckOutDate">
                                    Go To Room Page
                                </a>
                            </div>

                        </div>
                    </div>
                    <br>
                    <div class="room-data-flex">
                        <div class="main-column2-1b">
                            <span class="room-price">Total Cost: @(bookings.Room.Price)&euro; </span>
                        </div>
                        <div class="main-column2-2b">
                            <div class="profile-data-flex">
                                <div class="main-column2-2b-1">
                                    <span class="check-in-date">Check-in date: @bookings.CheckInDate</span>
                                </div>
                                <div class="main-column2-2b-2">
                                    <span class="check-out-date">Check-out date: @bookings.CheckOutDate</span>
                                </div>
                                <div class="main-column2-2b-3">
                                    <span class="room-type">Type of room: @bookings.Room.RoomType.RoomType1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            }
        </div>
    </main>
    <!------------------ FOOTER -------------------->
    <footer>
        <div class="credits">
            <span><small>Coded by Lampros Kafousis.</small></span>
        </div>
    </footer>

</div> 