﻿@model HotelBookingSystem.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}

@section css{
    <link rel="stylesheet" href="~/css/hotel-search.css">
}

@section scripts{}

<div id="flex-container-login">

    <main>

        <div class="login-form">
            <div class="userloginheader">
                <span>USER LOGIN</span>
            </div>
            <div class="login-columns">
                <form method="post" asp-action="Login" asp-controller="MyProfile">
                    <div class="login-column1">

                        <div>
                            <label for="username">Username</label><br>
                            <input id="username" asp-for="Username" type="text">
                        </div>
                        <div>
                            <label for="password">Password</label><br>
                            <input id="password" asp-for="Password" type="password">
                        </div>

                    </div>
                    <div class="login-column2">
                        <input id="submit-login" type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>

    </main>
    <!------------------ FOOTER -------------------->
    <footer>
        <div class="credits">
            <span><small>Coded by Lampros Kafousis.</small></span>
        </div>
    </footer>

</div>   