html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Verdana", Times, serif;
}

main {
    font-size: 14px;
}

/* ------------------- NAVIGATION ------------------- */
#nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0 4px 8px -2px gray;
    z-index: 100;
}

.nav-left,
.nav-center,
.nav-right {
    box-sizing: border-box;
    flex: 0 0 50%;
    text-align: center;
    position: relative;
    vertical-align: middle;
    padding: 1.3rem 0;
    height: 100%;
    opacity: 0.90;
    font-family: Verdana;
    background-color: LightGray;
    font-weight: bold;
}

.nav-left,
.nav-right {
    flex: 0 0 50%;
}

.nav-r-1,
.nav-r-2 {
    border: 2px solid black;
    border-style: none dotted none none;
    padding: 0 9px 0 0;
    margin: 0 9px 0 0;
}

.nav-r-1,
.nav-r-2,
.nav-r-3,
.nav-r-4 {
    display: inline;
}
.nav-r-1 > a,
.nav-r-2 > a,
.nav-r-3 > a,
.nav-r-4 > a {
    color: inherit;
    text-decoration: none;
}
.nav-r-1:hover,
.nav-r-2:hover,
.nav-r-3:hover,
.nav-r-4:hover {
    color: #ff6602;
}

.loggedin {
    display: inline;
}

.not-loggedin {
    display: none;
}

/* ------------------- MAIN BODY ------------------- */
#flex-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/bg_main.jpg");
}

#flex-container-login {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 0 auto;
    margin-top: 190px;
    justify-content: center;
    align-items: center;
}

.search-form-hotel {
    padding: 10px 35px;
    background-color: #ffffff;
    opacity: 0.90;
    border-radius: 15px;
    min-width: 300px;
    box-sizing: border-box;
    text-align: center;
}

.login-form {
    padding: 10px 35px;
    background-color: #ffffff;
    opacity: 0.90;
    border-radius: 15px;
    width: 450px;
    box-sizing: border-box;
    text-align: left;
}

.login-columns {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    flex-wrap: wrap;
}

.login-column1 {
    flex: 1 0 50%;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.login-column2 {
    flex: 1 0 50%;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

form > div {
    box-sizing: border-box;
    padding: 10px 0;
    margin: 3px 0;
}

select,
.input-date {
    width: 144px;
    box-sizing: border-box;
    padding: 10px;
    margin: 3px;
}

#errors {
    color: red;
}
.invalid-field {
    border-color: red;
}

#submit-login {
    width: 65px;
    margin: 0 10px;
}

input[type=date]:focus, #city:focus, #roomtype:focus {
    background-color: #ff6602;
}

#submit-hotel {
    display: flex;
    justify-content: center;
}

.userloginheader {
    background-color: #ff6602;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

input[type=submit] {
    height: 40px;
    border-radius: 8px;
    background-color: #ff6602;
    color: white;
    font-weight: bold;
}

    input[type=submit]:hover {
        background-color: #b34700;
    }

/* ------------------- FOOTER ------------------- */
footer {
    flex: 1;
    max-height: 40px;
    border-top: 3px solid grey;
    background-color: LightGray;
}

.credits {
    text-align: center;
    padding: 0.5rem 0;
    color: #808080;
}
/* ------------------- SCREEN WIDTH ------------------- */
@media screen and (max-width: 580px) {

    #nav-bar {
        box-shadow: none;
    }

    .nav-left {
        border-bottom: 2px solid grey;
        flex: 0 0 100%;
    }

    .nav-right {
        box-shadow: 0 4px 8px -2px gray;
        flex: 0 0 100%;
    }

    main {
        margin-top: 260px;
    }
}
@media screen and (max-width: 580px) {
    main {
        margin-top: 215px;
    }
}
