html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
	font-family: "Verdana", Times, serif;
}

main {
    font-size: 14px;
}

/* ------------------- NAVIGATION ------------------- */
#nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0px;
    box-shadow: 0 4px 8px -2px gray;
    z-index: 100;
}
.nav-left, 
.nav-center, 
.nav-right  {
	box-sizing: border-box;
	flex:0 0 50%;
	text-align: center; 
    position: relative; 
    vertical-align: middle;
	padding: 1.3rem 0; 
    height : 100%;    
	opacity: 0.90;
	font-family: Verdana;
	background-color: LightGray;
	font-weight: bold;

}
.nav-left,
.nav-right {
	flex:0 0 50%; 
}
.nav-r-1,
.nav-r-2{
 	border: 2px solid black;
	border-style: none dotted none none;
	padding:0 9px 0 0;
	margin:0 9px 0 0;
}
.nav-r-1,
.nav-r-2,
.nav-r-3,
.nav-r-4{
	display:inline;
}
.nav-r-1 > a,
.nav-r-2 > a,
.nav-r-3 > a,
.nav-r-4 > a {
    color: inherit;
    text-decoration: none;
}
.nav-r-1:hover,
.nav-r-2:hover,
.nav-r-3:hover,
.nav-r-4:hover {
    color: #ff6602;
}
.loggedin{
	display: inline;
}
.not-loggedin{
	display: none;
}

/* ------------------- MAIN BODY ------------------- */
#flex-container-room {
	min-height: 100%;
	display: flex;
	flex-direction: column;	
}
.main-body-flex {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	flex-wrap: wrap;
	margin: 60px 40px 0px 40px;
}
.main-body {
	flex-direction: row;
	flex: 1 0 auto;
	flex-wrap: wrap;
	margin: 60px 40px 0px 40px;
}
/* ------------------- COLUMN 1 ------------------- */
.main-column1 {
	flex:1 0 33.33%;  
	box-sizing: border-box;
	padding: 10px 10px;
}
.search-form-room,.my-profile-data{
	box-sizing: border-box;
	padding: 10px 10px;
	margin: auto;
}
.search-form-room{
	text-align: center;	
	width: 180px;
}
#form-title{
	color: #ff6602;
	font-weight: bold;
}
.my-profile-data{
	text-align: left;
	width: 210px;
}
.my-profile-data-list{
	list-style-type: none;
}
.my-profile-data-list > li{
	color:#ff6602;
	margin:10px 0 10px 0;
	font-weight: bold;
}
.favourites-list > li,
.reviews-list > li {
	margin-bottom:5px;
}
select,
.input-date {
    width: 144px;
    box-sizing: border-box;
    padding: 10px;
    margin: 3px;
}
/* ------------------- COLUMN 2 ------------------- */
.main-column2 {
	box-sizing: border-box;
	padding: 10px 10px;
    flex:1 0 66.66%; 
}
.results-head{
	box-sizing: border-box;
	border-radius: 3px;
	color: white;
	padding:10px;
	background-color: #ff6602;
	font-weight: bold;
}

.search-results-room-flex,.room-data-flex {
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	flex-wrap: wrap;
	box-sizing: border-box;
	border-radius: 15px;
	min-width: 300px;
	width:100%;
} 
.room-data-flex{
		font-size: 12px;
}
/* ------------------- COLUMN 2,1 ------------------- */
.main-column2-1,
.main-column2-1b{
	box-sizing: border-box;
	flex:1 0 25%; 
	padding-right: 10px;
}
.main-column2-1b{
	text-align: center;
	color: white;
	background-color:#4d4d4d;
	padding: 5px 0px;
}


/* ------------------- COLUMN 2,2 ------------------- */
.main-column2-2,
.main-column2-2b{
	box-sizing: border-box;
	flex:1 0 75%; 
}
.main-column2-2b{
	text-align: center;
	background-color:#d3d3d3;
	padding: 5px 0px;
}
.hotel-region{
	color: #808080;
}
#link-gotoroom {
    text-align: right;
}
#link-login {
    text-align: center;
    font-weight:bold;
}
#link-gotoroom > a,
#link-login > a { 
    text-decoration: none;
    padding: 5px;
    background-color: #ff6602;
    color: white;
    border: 2px outset #e3e3e3;
    border-radius: 8px;
}
#submit-book,
#submit-review{
	text-align: left;
}
.hotel-name{
	font-weight: bold;
}

/* ------------------- COLUMN 2 - 2b ------------------- */
.profile-data-flex,
.row1-flex,
.row3-flex			{
	display: flex;
	flex-direction: row;
	flex: 1 0 auto;
	flex-wrap: wrap;
	box-sizing: border-box;
	width:100%;
}
.profile-data-flex{
	background-color: #d3d3d3;
}
.row1-flex{
	margin-top:20px;
}
.row2,
.row3-flex,
.row4,
.row5,
.row6,
.row7,
.row8 {
	margin-top:35px;
} 

.row4,
.row7,
.row8,
.main-column2-2 {
	border-left: 3px solid #ff6602;
	padding-left: 10px; 
}
.gmap{
	min-height:400px;
	width:100%
}
.room-img2{
	width: 100%;
	max-width: 600px;
	height: auto;
}
.room-img{
	height: auto;
	max-width: 100%;
}
.row6 {
 	border: 2px solid grey;
	padding-top:35px;
	border-style: dashed none none none;
}

.main-column2-2b-1,
.main-column2-2b-2,
.main-column2-2b-3 {
    box-sizing: border-box;
    flex: 1 0 33.33%;
    text-align: center;
}
.row1-col1,
.row1-col2,
.row1-col3,
.row1-col4 {
    box-sizing: border-box;
    flex: 1 0 25%;
    text-align: center;
}
.row3-col1,
.row3-col2,
.row3-col3,
.row3-col4,
.row3-col5			{
	box-sizing: border-box;
	flex:1 0 20%; 
	text-align: center;
}
.main-column2-2b-1rl,
.main-column2-2b-3rl{
	box-sizing: border-box;
	flex:1 0 50%; 
	text-align: center;
}
.main-column2-2b-1,
.main-column2-2b-2,
.main-column2-2b-1rl{
 	border: 2px solid grey;
	border-style: none dotted none none;
}

.row1-col1,
.row1-col2,
.row1-col3,
.row3-col1,
.row3-col2,
.row3-col3,
.row3-col4 {
    color: white;
    border: 2px solid white;
    border-style: none dotted none none;
    background-color: #ff6602;
    font-weight: bold;
    min-width: 200px;
    border-bottom: 1px solid white;
}
.row1-col4,
.row3-col5 {
	color:white;
	background-color: #ff6602;
	font-weight: bold;	
	min-width:200px;
	border-bottom: 1px solid white;
}
.room-desc,
.reviews,
.add-review{
	font-weight: bold;		
}
.booking-unav {
    width: 195px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
#submit-review textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    height: 100px;
    border: 1.5px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Verdana", Times, serif;
}
.star-full-overide {
    color: #fff300;
}
.fav-heart {
    font-size: 1.5em;
}
/*custom overide*/
.fa-heart {
    color: red;
}
.invalid-field {
    border-color: red;
}
.ui-slider,
.ui-slider-handle {
    z-index: 1;
}

.fav-button {
    background-color: #ff6602;
    border: none;
    color: white;
}

#errors {
    color: red;
}
input[type=date]:focus,#city:focus,#roomtype:focus ,#cntofguests:focus{
	background-color: #ff6602;
}

#submit-room{
	display: flex;
	justify-content: center;
}
input[type=submit] {
    height: 40px;
    border-radius: 8px;
    background-color: #ff6602;
    color: white;
    font-weight: bold;
}
input[type=submit]:hover,
#link-gotoroom > a:hover, 
#link-login > a:hover {
    background-color: #b34700;
}

#slider-range {
    background-color: #ff6602;
    margin-bottom: 15px;
    display: flex;
}
.ui-slider-horizontal .ui-slider-range {
    background-color: #6798BD;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    background: #fff !important;
    border: 1px solid #cccccc !important;
}
.ui-slider .ui-slider-handle {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
#amountmin,
#amountmax,
#amountmind,
#amountmaxd {
    font-size: 0.75em;
    font-weight: 300;
    line-height: 1em;
    color: black;
    text-align: center;
    width: 50%;
    margin-top: 5px;
    margin-top: 20px;
    height: 18px;
}

/* ------------------- FOOTER ------------------- */
footer {
	flex: 1; 
	max-height: 40px;

	border-top: 3px solid grey;
	background-color: LightGray;
}
.credits{
	text-align: center;
	padding: 0.5rem 0;
	color:#808080;
}
/* ------------------- SCREEN WIDTH ------------------- */
@media screen and (max-width: 1100px) {

div .row3-col1,
div .row3-col2,
div .row3-col3{
	flex:0 0 33.33%;
}	
div .row3-col4,
div .row3-col5{
	flex:0 0 50%;  
}
div .row3-col3{
	border-style: none;
	border-bottom: 1px solid white;
}
}
@media screen and (max-width: 980px) {

div .main-column2-1,
div .main-column2-2,
.main-column2-1b, 
.main-column2-2b {
	flex:0 0 100%;  
}

}
@media screen and (max-width: 900px) {

div .row1-col1,
div .row1-col2,
div .row1-col3,
div .row1-col4 { 
	flex:0 0 50%;  
}

div .row1-col2 { 
border: none;
border-bottom: 1px solid white;
}

}
@media screen and (max-width: 700px) {

div .row1-col1,
div .row1-col2,
div .row1-col3,
div .row1-col4,
div .row3-col1,
div .row3-col2,
div .row3-col3,	
div .row3-col4,
div .row3-col5 {
	flex:0 0 100%; 
	border-style: none;
	border-bottom: 1px solid white;	
}

}

@media screen and (max-width: 660px) {

.main-column1 {
	flex:0 0 100%;  
}
.main-column2 {
	flex:0 0 100%; 
}

} 

@media screen and (max-width: 580px) {

#nav-bar {
        box-shadow: none;
}
.nav-left {
	border-bottom: 2px solid grey;
	flex:0 0 100%;  
}
.nav-right {
	box-shadow: 0 4px 8px -2px gray;
	flex:0 0 100%; 
}

.main-body-flex{
	margin-top: 120px;
}
.main-body{
	margin-top: 120px;
}
} 
@media screen and (max-width: 380px) {

.main-body-flex{
	margin: 170px 0 0 0;
}
.main-column2, 
.main-column1{
	padding: 0;
}
.credits{
	padding: 0;
}
} 