﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelBookingSystem</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("css", required: false)

    <link rel="stylesheet" href="../../css/nouislider.css">

    <!-- JqueryUI -->
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css" />

</head>
<body>
    <!------------------ NAVIGATION -------------------->
    <nav id="nav-bar">
        <div class="nav-left">
            <span>Hotels</span>
        </div>
        <div class="nav-right">
            <div class="nav-r-1">

                <a id="home" href='@Url.Action("Index", "Home", null, null)'>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Home
                </a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="nav-r-2">
                    <a id="profile" href='@Url.Action("Index", "MyProfile", null, null)'>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile
                    </a>
                </div>
                <div class="nav-r-3">
                    <a id="logout" href='@Url.Action("Logout", "MyProfile", null, null)'>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Logout
                    </a>
                </div>
            }
            else
            {
                <div class="nav-r-4">
                    <a id="login" href='@Url.Action("Login", "MyProfile", null, null)'>
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Login
                    </a>
                </div>
            }
        </div>
    </nav>
    <!------------------ MAIN BODY --------------------->
    @RenderBody()

    <!-- Jquery -->
    <script src="~/js/jquery-3.3.1.js"></script>
    <!-- JqueryUI -->
    <script src="~/js/jquery-ui/jquery-ui.js"></script>

    <script>
        var dateToday = new Date(); 

        $(document).ready(function () {
            $('.input-date').datepicker({
                dateFormat: "yy/mm/dd",
                minDate: dateToday
            });
        });
    </script>
    <script src="~/js/base.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
